<!DOCTYPE html>
{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<html lang="en">

<title>Login</title>
    <link rel="stylesheet" href="{% static 'css/userLogin.css' %}"/>

{% if messages %}
<h3 class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</h3>
{% endif %}

<body>
{% if not user.is_authenticated %}
<div class="logo"></div>
<div class="login-block">
    <h1 class="h1">Welcome, please login.</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p class="username">{{loginForm}}</p>
        <p class="button"><center><input type="submit" value="Sign In" class="btn btn-info"></center></p>
    </form>
</div>
{%endif%}

</body>


{%endblock%}
</body>
</html>